#defi_de_la_semaine{
	margin: 40px 0 0 0;
	height: 27em;
}

#defi-semaine-head{
	position: relative;
	box-shadow: none;
}

#defi-semaine-head h1{
	font-size: 1.9em;
	margin: 0.19em 0 0 0;
}

#absolute{
	position: absolute;
	top:210px;
	left:33px;
	width: 884px;
	margin: 0 auto;
}

#defi_de_la_semaine img{
	border: 5px solid #FFA801;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 2px 2px 18px 0px #A8A8A8;
	box-shadow: 2px 2px 18px 0px #A8A8A8;
	float: left;
	margin:0 50px 0 0;
}

#absolute h2{
	color:#7b06a6;
	font-size: 1.6em;
	margin: 0 0 0.65em 0;
}

#absolute span{
	font-size: 1.1em;
	font-weight: bold;
}

#absolute p{
	color:#2a2a2a;
	font-size: 1em;
	margin:0 0 0.5em 0;
}

.call_action{
	font-size: 1.8em;
	color:#f5f5f5;
	padding: 0.28em;
	display: inline-block;
	background-color: #ffb62a;
	margin:0 1.2em;
	-webkit-box-shadow: 2px 2px 18px 0px #A8A8A8;
	box-shadow: 2px 2px 18px 0px #A8A8A8;
}

#information_defi ul{
	width:14em;
	margin: 1em 0 0 0;
	color: #2a2a2a;
}

#information_defi{
	margin:0.3em 0 0 0;
}

li{
	display: inline-block;
	width: 6em;
	color: #2a2a2a;
}

.orange{
	color:#ffb62a;
}

#podium{
	position: absolute;
	right: 0px;
	bottom:-1.4em;
}

#podium ul{
	width:310px;
}

#podium li{
	width: 100px;
}

#podium #titre{
	width: 10em;
	font-size: 1.5em;
}

.nom a{
	color: #ffb62a;
	font-size: 1.03em;
	text-decoration: none;
}

.likes{
	font-size: 0.87em;
}

#autre_defi h1{
	color:#7b06a6;
	font-size: 1.2em;
	margin:0 0 24px 33px;
	position: relative;
	background-color: #eeeeee;
	z-index: 20;
	display: inline;
	padding: 0 10px;
}

#ligne_orange{
	background-color: #ffb62a;
	height:10px;
	width: 1005px;
	position: absolute;
	top: 0px;
	left: 0px;
	margin:10px 0 0 -25px;
	z-index: 2;
}

#autre_defi #bandeau-participer{
	margin-top: 20px;
}

#autre_defi #bandeau-participer a{
	line-height:90px;
	display:block;
	font-size:42px;
	width:50%;
}

#bandeau-defi {
	background: url(../img/bandeau.png) no-repeat;
	height:90px;
}

#bandeau-defi a {
	line-height:50px;
	font-size:25px;
	width:60%;
}

#bandeau-defi a:first-child {
	float:left;
	padding-left:140px;
}

#liste_des_defis{
	width: 884px;
	margin: 30px 33px 40px 33px;
	position: relative;
}

.defis_description img{
	border: 5px solid #FFA801;
	-webkit-border-radius: 8px;
	border-radius: 5px;
	-webkit-box-shadow: 2px 2px 18px 0px #A8A8A8;
	box-shadow: 2px 2px 18px 0px #A8A8A8;
	float: left;
	margin:0 30px 0 0;
}

#liste_des_defis h2{
	color: #7B06A6;
	font-size: 1em;
	margin: 0 0 0.1em 0;
}

.defis_description p{
	color: #2A2A2A;
	font-size: 1em;
	margin: 0 0 0.5em 0;
	width: 280px;
	display: inline-block;
}

.defis_description a{
	color: #f5f5f5;
	font-size: 25px;
	background: url(../img/bouton.png) no-repeat;
	padding: 0 0 0 6px;
	width: 109px;
	height: 31px;
	margin: 0 0 0 390px;
	display: block;
}

.top_video{
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 0px;
}

.top_video div{
	display: inline-block;
}

.top_video p{
	font-size: 20px;
	color: #FFB62A;
	width: 104px;
	text-align: center;
}

#autre_defi{
	position: relative;
}

#videos{
	margin: 40px 0 0 0;
	height: 27em;
}

#absolute2{
	position: absolute;
	top:210px;
	left:0px;
	width: 100%;
}

#recherche_video{
	background: url(../img/bandeau_uni.png) no-repeat;
	height: 90px;
}

#recherche_video label{
	color:#f5f5f5;
	font-size: 22px;
	display: inline-block;
}

#recherche_video form{
	display: inline-block;
	margin: 10px 0 0 144px;
}

 select{
 	width: 140px;
 	margin-right: 10px;
 }

#go{
 	width:43px;
 	height: 27px;
 }

 #trier_par{
 	font-size: 17px;
 	color:#c1c1c1;
 	margin-left: 40px;
 }

 #trier_par .active{
	color: #2a2a2a;
}

 #trier_par p{
 	display: inline-block;
 }

 #trier{
 	margin:0 30px 0 500px;
 }

#trier_par p a{
	color:#c1c1c1;
}

.video{
	clear: left;
}

.video img{
	float: left;
	margin: 20px 20px 20px 40px;
}

.video h3{
	font-size: 27px;
	color:#ffb62a;
	padding:20px 0 0 0;
}

.video p{
	display: inline-block;
	font-size: 17px;
	color: #2a2a2a;
}

.auteur a{
	color: #7b06a6;
	font-size: 17px;
}

.video .auteur{
	display: block;
}

.description{
	font-size: 15px;
}