/*
* Challenge Me Stylesheet
* Copyright 2012, Koune, Laumond, Minvielle, Schmitt, Souville
* HETIC H3 P2015
*/



/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1;		}
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }
	* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
		
/* #Clearing */
    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns, or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after {content: '\0020';display: block;overflow: hidden;visibility: hidden;width: 0;height: 0; }
    .clearfix:after {clear: both; }
    .clearfix {zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}

@font-face {
    font-family: 'Noteworthy';
	src: url('../fonts/noteworthy.eot');
	src: local('☺'), url('../fonts/noteworthy.woff') format('woff'), url('../fonts/noteworthy.otf') format('opentype'), url('../fonts/noteworthy.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Benchnine';
	src: url('../fonts/benchnine-bold.eot');
	src: local('☺'), url('../fonts/benchnine-bold.woff') format('woff'), url('../fonts/benchnine-bold.ttf') format('truetype'), url('../fonts/benchnine-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
	
/* STYLE DE BASE 
-------------------------------------------------- */
body {background:#e2e2e2;font:18px 'Benchnine';font-weight:bold;color:#2a2a2a;}
a {text-decoration:none;color:#fff;}
strong {font-weight:bold;}
.last {border:none !important;}
#global {}
#container {width:960px;margin:0 auto;border:2px solid #dadada;border-top:none;
background: #f3f3f3;
/*background: -moz-linear-gradient(top, #fff 0%, #d6d6d6 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#d6d6d6));
background: -webkit-linear-gradient(top, #fff 0%,#d6d6d6 100%);
background: -o-linear-gradient(top, #fff 0%,#d6d6d6 100%);
background: -ms-linear-gradient(top, #fff 0%,#d6d6d6 100%);
background: linear-gradient(to bottom, #fff 0%,#d6d6d6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d6d6',GradientType=0 );*/
padding:10px 0;position:relative;}

/* EN-TETE
-------------------------------------------------- */
#global>header {margin:0 auto;position:relative;z-index:30;background: #7b06a6 ;width:100%;height:150px;text-align:center;-webkit-box-shadow: 0px 5px 5px 0px #b4b4b4;box-shadow: 0px 5px 5px 0px #b4b4b4;}
#global>header>#wrapper {width:960px; position:relative; margin: auto;}
#logo {background: url(../img/logo.png) no-repeat 48% 50%;height:100%;}
#logo a {font:68px 'Noteworthy';line-height:160px;/*text-shadow: 0px 5px 5px #d09523;*/filter: dropshadow(color=#d09523, offx=0, offy=5);color:transparent;}
#userPlace p{color:#fff;margin: 50px 5px 5px 0;}
#userPlace { position:absolute;top:0;right:50px; width:140px;height: 155px;background-color: #FFB62A;
-webkit-box-shadow: -1px -2px 10px 2px #550473;box-shadow: -1px -2px 10px 2px #550473;}
#facebookConnect {display: block;margin:0 0 0 15px;}
#facebookConnect:hover {background:#4b67a1;}
#facebookConnect span {overflow:hidden;width:25px;height:25px;display:block;position:absolute;top:0;left:-1px;border:1px solid #b2b2b2;border-top:none;}
.separator {background:#7b06a6;height:10px;display:block;width:100%}

#facebookAuth {
	text-align:center;
}

#userInfos {
	text-align:left;
	font-family: inherit;
	color: #f5f5f5;
	font-size: 23px;
}
#userPicture {
	border: solid 1px #7b06a6;
	width: 23px;
	height: 23px;
	float: left;
	margin: 7px;
}
#userName {
	font-size: 15px;
}
#userMenu {
	font-family: inherit;
	font-size: 15px;
	text-align: left;
	margin: 10px
}

/* MENU
-------------------------------------------------- */
nav {text-transform:uppercase;font-size:36px; line-height:1em;}
nav li {display:inline; margin:0 63px;}
nav a {color:#c1c1c1;}
nav a:hover {color:#ffb62a;}
.current a {color:#ffb62a;}



/* SLIDER ACCUEIL
-------------------------------------------------- */
#main-slider {width:956px;height:335px;position:relative;overflow:hidden;}
#main-slider li, #main-slider img {float:left;}
#main-slider  p {position:absolute;bottom:25px;margin:0 30px;z-index:10;display:block;}
#main-slider  span {color:#fff;display:inline;}
#list-slider {list-style-type:none;}
.titre-slide {font-size:34px;}
.sous-titre-slide {font-size:22px;margin-left:40px;}
.prev-slide, .next-slide {background:url(../img/sprite.png) no-repeat; position:absolute;z-index:30;top:110px;width:35px;height:98px;}
.prev-slide:hover, .next-slide:hover {top:110px;width:40px;height:98px;}
.prev-slide {background-position: 2px -113px;left:15px;}
.next-slide {background-position: -42px -113px;right:18px;}
.prev-slide:hover {background-position: -83px -113px;}
.next-slide:hover {background-position: -125px -113px;}
a.disabled{opacity: 0; cursor:default;}


#bloc-defis {margin:30px 0;}

/* DEFI SEMAINE ACCUEIL
-------------------------------------------------- */
#defi-semaine {float:left;border-right:1px solid #7b06a6;padding:0 20px 5px 0;}
#defi-semaine-head {background: url(../img/sprite.png) no-repeat 0 0; height:110px;width:480px;position:relative;left:-18px;color:#fff;font-style:italic;font-size:28px;padding:5px 45px;float:left;box-shadow:none;}
#defi-semaine-head p:first-child {color:#7b06a6;font-style:normal;font-size:36px;}
#defi-semaine-participer {background: url(../img/sprite.png) no-repeat -175px -115px;font-size:38px;width:180px;height:85px;padding:8px 18px;margin:15px 0 0 0; float:right;text-align:center;}
#defi-semaine img {border:5px solid #7b06a6;-webkit-border-radius: 8px;border-radius: 8px;-webkit-box-shadow: 2px 2px 18px 0px #a8a8a8;box-shadow: 2px 2px 18px 0px #a8a8a8;
-moz-transform: rotate(3deg);-webkit-transform: rotate(3deg);-o-transform: rotate(3deg);-ms-transform: rotate(3deg);transform: rotate(3deg);float:right;margin:10px 80px 0 0;}
#defi-semaine-infos {float:left;clear:both;margin:4% 4% 0;}
#defi-semaine-infos div {display:inline-block;margin:0 5px;}
#defi-semaine-infos div:last-child {color:#ffa801;}

/* CLASSEMENT ACCUEIL
-------------------------------------------------- */
#classement {float:left;padding-left:20px;}
#classement p {color:#7b06a6;font-size:24px;}
#classement a {color:#2a2a2a;display:inline-block;min-width:30%;}
#classement ul li {font-size:20px;margin:5px 0;}
#classement ul li:first-child a{color:#ffa801;font-size:24px;}
#classement ul li span:first-child {color:#7b06a6;display:inline-block;min-width:40%;}
#classement ul li span:last-child {width:0;height:0;border-bottom:10px solid transparent;border-left:10px solid #ffa801;border-right:10px solid transparent;border-top:10px solid transparent;position:absolute;margin:5px 20px;}
#classement ul li:first-child span:last-child{border-left:10px solid #7b06a6;}

#bandeau-participer {background: url(../img/sprite.png) no-repeat 0 -230px;height:90px;}
#bandeau-participer a {line-height:90px;display:block;font-size:42px;width:50%;}
#bandeau-participer a:first-child {float:left;text-align:center;}
#bandeau-participer a:last-child {float:right;font-size:20px;padding-left:30px}

/* MAP ACCUEIL
-------------------------------------------------- */
#map p {color:#7b06a6;font-size:36px;clear:both;margin: 20px 0 20px 32px;}
#map > div {width:890px;height:515px;border:1px solid #5d5d5d;margin:0 auto;}




/* UTILITIES
-------------------------------------------------- */

.hidden {display: none!important;}

/* FOOTER
-------------------------------------------------- */
footer {background:#2a2a2a;color:#fff;margin-top:40px;font-size:16px;padding:0 10px;}
.foot-colonne {width:33.333%;float:left;margin:10px 0;padding:0 10px;border-right:1px solid #3b3b3b;}
.titre-foot {font-size:22px;margin:0 0 5px;}
#reseaux a {width:65px;height:65px;}
#reseaux-facebook, #reseaux-twitter, #reseaux-vimeo {background: url(../img/sprite.png) no-repeat ;display:inline-block;margin:15px 0;}
#reseaux-facebook {background-position: -525px 0;}
#reseaux-facebook:hover {background-position: -525px -67px;}
#reseaux-twitter {background-position: -598px 0;}
#reseaux-twitter:hover {background-position: -598px -67px;}
#reseaux-vimeo {background-position: -672px 0;}
#reseaux-vimeo:hover {background-position: -672px -67px;}
#reseaux #hetic {background:url(../img/hetic.png) no-repeat;display:block;width:150px;height:50px;display:block;margin:5px 0 0;}
#plan-copyright {clear:both;font-size:14px;padding:0 0 5px;}
#plan-copyright a, #plan-copyright p {color:#6a6a6a;display:inline;}
#plan-copyright a:hover {color:#acacac;}
#plan-copyright a:after {content:' -';}

