#defi_de_la_semaine{
	margin: 40px 0 0 0;
	height: 27em;
}

#defi-semaine-head{
	position: relative;
	box-shadow: none;
}

#defi-semaine-head h1{
	font-size: 1.9em;
	margin: 0.19em 0 0 0;
}

#absolute{
	position: absolute;
	top:210px;
	left:33px;
	width: 884px;
	margin: 0 auto;
}

#absolute img{
	border: 5px solid #FFA801;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 2px 2px 18px 0px #A8A8A8;
	box-shadow: 2px 2px 18px 0px #A8A8A8;
	float: left;
	margin:0 50px 0 0;
}

#absolute h2{
	color:#7b06a6;
	font-size: 1.6em;
	margin: 0 0 0.65em 0;
}

#absolute span{
	font-size: 1.1em;
	font-weight: bold;
}

#absolute p{
	color:#2a2a2a;
	font-size: 1em;
	margin:0 0 0.5em 0;
}

.call_action{
	font-size: 1.8em;
	color:#f5f5f5;
	padding: 0.28em;
	display: inline-block;
	background-color: #ffb62a;
	margin:0 1.2em;
	-webkit-box-shadow: 2px 2px 18px 0px #A8A8A8;
	box-shadow: 2px 2px 18px 0px #A8A8A8;
}

#information_defi ul{
	width:14em;
	margin: 1em 0 0 0;
	color: #2a2a2a;
}

#information_defi{
	margin:0.3em 0 0 0;
}

li{
	display: inline-block;
	width: 6em;
	color: #2a2a2a;
}

.orange{
	color:#ffb62a;
}

#podium{
	position: absolute;
	right: 0px;
	bottom:-1.4em;
}

#podium ul{
	width:310px;
}

#podium li{
	width: 100px;
}

#podium #titre{
	width: 10em;
	font-size: 1.5em;
}

.nom a{
	color: #ffb62a;
	font-size: 1.03em;
	text-decoration: none;
}

.likes{
	font-size: 0.87em;
}

.autre_defi h1{
	color:#7b06a6;
	font-size: 1.2em;
	margin:0 0 24px 33px;
	position: relative;
	background-color: #F3F3F3;
	z-index: 20;
	display: inline;
	padding: 0 10px;
}

#ligne_orange{
	background-color: #ffb62a;
	height:10px;
	width: 1005px;
	position: absolute;
	top: 0px;
	left: 0px;
	margin:10px 0 0 -25px;
	z-index: 2;
}

.autre_defi #bandeau-participer{
	margin-top: 20px;
}

.autre_defi #bandeau-participer a{
	line-height:90px;
	display:block;
	font-size:42px;
	width:50%;
}

#bandeau-defi {
	background: url(../img/bandeau.png) no-repeat;
	height:90px;
}

#bandeau-defi a {
	line-height:50px;
	font-size:25px;
	width:60%;
}

#bandeau-defi a:first-child {
	float:left;
	padding-left:140px;
}

#liste_des_defis{
	width: 884px;
	margin: 30px 33px 40px 33px;
	position: relative;
}

.defis_description img{
	border: 5px solid #FFA801;
	-webkit-border-radius: 8px;
	border-radius: 5px;
	-webkit-box-shadow: 2px 2px 18px 0px #A8A8A8;
	box-shadow: 2px 2px 18px 0px #A8A8A8;
	float: left;
	margin:0 30px 0 0;
}

#liste_des_defis h2{
	color: #7B06A6;
	font-size: 1em;
	margin: 0 0 0.1em 0;
}

.defis_description p{
	color: #2A2A2A;
	font-size: 1em;
	margin: 0 0 0.5em 0;
	width: 280px;
	display: inline-block;
}

.defis_description a{
	color: #f5f5f5;
	font-size: 25px;
	background: url(../img/bouton.png) no-repeat;
	padding: 0 0 0 6px;
	width: 109px;
	height: 31px;
	margin: 0 0 0 390px;
	display: block;
}

.top_video{
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 0px;
}

.top_video div{
	display: inline-block;
}

.top_video p{
	font-size: 20px;
	color: #FFB62A;
	width: 104px;
	text-align: center;
}

.autre_defi{
	position: relative;
	margin-bottom: 20px;
}

#videos{
	margin: 40px 0 0 0;
	height: 127em;
}

#absolute2{
	position: absolute;
	top:210px;
	left:0px;
	width: 100%;
}

#recherche_video{
	background: url(../img/bandeau_uni.png) no-repeat;
	height: 90px;
}

#recherche_video label{
	color:#f5f5f5;
	font-size: 22px;
	display: inline-block;
}

#recherche_video form{
	display: inline-block;
	margin: -10px 0 0 144px;
}

 select{
 	width: 140px;
 	margin-right: 10px;
 }

#go{
 	width:43px;
 	height: 27px;
 }

 #trier{
 	margin:0 0 0 750px;
 	display: inline-block;
 }

 #trier_par nav{display: inline-block;}

.video{
	width:960px;
}

.video img{
	float: left;
	margin: 20px 20px 20px 40px;
}

.video h3{
	font-size: 27px;
	color:#ffb62a;
	padding:20px 0 0 0;
}

.video p{
	display: inline-block;
	font-size: 17px;
	color: #2a2a2a;
}

.auteur a{
	color: #7b06a6;
	font-size: 17px;
}

.video .auteur{
	display: block;
}

.description{
	font-size: 15px;
}


/* ---------------------------- Envoie video ---------------------------- */
#envoi {margin: 40px 0 0 0; height: 37em; }
#envoi h2{font-size: 30px;}

/* ----------------- Formulaire ----------------- */
#addvideo label{font-size: 23px;position: relative;margin: 6px 0;display: inline-block; width:210px;}
#addvideo span{font-size: 20px;}
#addvideo p{font-size:20px; margin:0 10px 0 20px; display: inline-block;}
#addvideo a{font-size:20px; margin:0 10px; color: #FFB62A;}
#carte{width:500px; height:250px; background-color: pink;}
#localisation{margin:-250px 0 0 500px;height:250px;}
#addvideo ul{display:block;}
#addvideo ul li{display: block;margin:0 0 0 20px;}
#check{margin:30px 0 0 0;}
input[type="submit"]{background-color: #FFB62A;width: 200px;height: 50px;margin: 20px 0 0 0;border: none;font:30px 'Myriad Pro Condensed'; color:#fff;}
#addvideo .non{background:url(../img/input.png) no-repeat 0 0;width:25px;height:20px;margin:0;}
#addvideo .oui{background:url(../img/input.png) no-repeat 0 -25px;width:25px;height:20px;margin: 0;}

/* ---------------------------- Fin Envoie video ---------------------------- */

/* ---------------------------- Page challenge.php ---------------------------- */
#defi {margin: 40px 0 0 0; height: 20em; }
#gmap{width: 890px;height: 300px;border: 1px solid #5D5D5D;background-color: pink;margin: 0 auto;margin-top: 20px;}
#gallery ul{padding-top: 20px;margin:0 auto;width:890px;}
#gallery ul li{width:220px;height:230px;display: inline-block;}
#gallery ul li img{margin:10px 10px 0 10px;cursor: pointer;}
#gallery ul li p{color:#FFB62A;font-size: 18px;margin: 0 5px 0 10px;}
#gallery ul li a{color: #7B06A6; font-size: 20px;}

/* ------------------------------- PopIn ------------------------------- */
#laVideo{display: none;opacity: 1;height: 405px;width: 700px;position: absolute;z-index: 100;padding:20px 40px 30px 40px;background-color: #FFB62A;margin: 0 0 0 127px;border-radius: 10px;}
#close{text-align: right;font-size: 0.8em; margin: -12px 0 2px 0;display: block;}
nav .classement{color:#2A2A2A; font-size: 18px;text-transform: lowercase;}
nav p{color:#2A2A2A; font-size: 18px;text-transform: lowercase;display: inline-block;}
nav .active{color: #FFB62A;font-size: 18px;text-transform: lowercase;}
.autre_defi nav{display: inline-block;}

/* ---------------------------- Page classement.php ---------------------------- */
#rank {margin: 40px 0 0 0; height: 37em; }